body {
  background-color: #98AFC7;
  background: url('/images/goldback.jpg');
  font-family: Arial, Times, sans-serif;
  font-size: 14pt;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:scroll;  

}

#wrapper {
  width:1200px;
  height:900px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-450px 0 0 -600px;
  z-index:1;

}


#gameArea {
width:1200px;
height:800px;
position:absolute;
left:50%;
top:50%;
margin:-390px 0 0 -600px;
padding: 15px;
border:0px;
background:rgba(255,255,255, 0.8);
background-origin:border-box;
-moz-box-shadow: 30px 30px 95px #000000;
-webkit-box-shadow: 30px 30px 95px #000000;
box-shadow: 20px 20px 85px #000000;
z-index:1;
}

h1 {
    font-family: 'Purple Purse', cursive;
    font-weight:bold;
    margin:0 -13px 0 0;
    font-style:italic;
    font-variant:small-caps;
    text-decoration: none;
    word-spacing: normal;
    text-align: center;
    letter-spacing: 0;
    font-size: 45pt;
    color: #B80000 ;
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.error {
  color:red;
}

#screen {
  display:none;
  position:fixed;
  width:100%;
  height:100%;
  opacity:0;
  z-index:9999;
}

/*---
Deck draw discard station
---*/

#deckPiles {
  width:250px;
  height:200px;
  right:10px;
  bottom:10px;
  position:absolute;

}

#drawDeck {
  width: 100px;
  height: 140px;
  background: url('/images/cardback.png');
  background-size:100px 140px;
  float:left;
  cursor:pointer;
  right:10px;
  bottom:15px;
  position:absolute;
}

#discardDeck {
  width: 100px;
  height: 140px;
  border-width:1px;
  float:left;
  position:absolute;
  right:110px;
  bottom:15px;
}

#discardLockScreen {
  width: 100px;
  height: 140px;
  float:left;
  position:absolute;
  display:none;
  z-index:3000;
}

#playbutton {
  float:left;
}

.prepareSubmitPhase {
  float:left;
  display:none;
}

#discardbutton {
  float:left;
  display:none;
}

/*---
Playing Fields
---*/


.playingField {
  width:100%;
  height:300px;
  float:right;
  position:relative;
  z-index:2;
}

#computer1DivId {

  width:400px;
  height:170px;
  z-index:2;
  position:relative;
 
}

#computer2DivId {

  width:400px;
  height:170px;
  z-index:2;
  position:relative;
}

#computer3DivId {

  width:400px;
  height:170px;
  z-index:2;
  position:relative;
}

#computer1DivId div, #computer2DivId div, #computer3DivId div {

  margin-right:-73px;
}

#playerDivId {
 
  width:1000px;
  height:170px;
  z-index:2;
  left:10px;
  bottom:30px;
  position:absolute;

}

#playerDivId div {
  margin-right:-17px;
}



/*--
Card
---*/
.card {
  background-image: url('/images/cardback.png');
  background-size:100px 140px;
  float:left;
  position:relative;
  top:0px;
  z-index:30;
  border:1px;

  /*background-image: url("/images/backtest.gif");*/
}


.cardface {
  cursor:pointer;
  float:left;

}


.card.ui-draggable-dragging { 
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);

}

/*--
Phases
--*/

.phaseTitles {
  display:none;
}


/*Individual cards slots for phases*/


 
#phaseField {
  width:100%;
  background-color:white;
  position:absolute;
  bottom: 210px;
  display:none;
  height:200px;
  z-index:1;

}

#phaseField1 {
  width:50%;
  height: 200px;
  z-index:1;
  float:left;
  position:relative;
  padding-left:10px;
}

#phaseField2 {
  width:48%;
  height:200px;
  z-index:1;
  float:left;
  position:relative;
  background-color:blue;
}

#phaseField1 div, #phaseField2 div {
  margin-right:-60px;
}

#submitphasebutton {
  position: absolute; bottom:25px; right:25px;
  display:none;
  z-index:2;
}

#cancelphasebutton {
  position: absolute; bottom:73px; right:25px;
  display:none;
  z-index:2;
}

#resetphasebutton {
  position: absolute; bottom:49px; right:25px;
  display:none;
  z-index:2;
}


.phaseFieldDiv {
  float: left;
  width: 150px;
  height: 213px;
  padding-bottom: 0;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 0 10px;
  background: #fff;
  border-style: dashed;
  z-index:3;
}

.phaseMsg {
  font-family: Arial, Times, sans-serif;
  font-size: 14pt;
  float:left;
}



/* "You did it!" message */
#phaseCompleteMessage {
  position: absolute;
  left: 580px;
  top: 250px;
  width: 0;
  height: 0;
  z-index: 10000;
  background: #dfd;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 20px;
  visibility:hidden;
}










