body {
  background-color: #98AFC7;
  font-family: Arial, Times, sans-serif;
  font-size: 14pt;
  text-align: center;
}

.error {
  color:red;
}

/*---
Deck draw discard station
---*/

#deckPiles {
  width:100%;
  height:300px;
  background-color:white;
}

#drawDeck {
  width: 150px;
  height: 213px;
  background-color:gray;
  border-style:solid;
  border-color:red;
  border-width:2px;
  float:left;
  cursor:pointer;

}

#discardDeck {
  width: 150px;
  height: 213px;
  background-color:white;
  border-style:solid;
  border-color:black;
  border-width:2px;
  float:left;
}

/*---
Playing Fields
---*/

#gameArea {

  background-color:gray;
  width:100%;
  height:100%;
  z-index:1;
}

.playingField {
  width:100%;
  height:300px;
  float:right;
  position:relative;
  z-index:2;
}

#computer1DivId {
  background-color:orange;
  width:100%;
  height:300px;
  z-index:2;
}

#computer2DivId {
  background-color:yellow;
  width:100%;
  height:300px;
  z-index:2;
}

#computer3DivId {
  background-color:blue;
  width:100%;
  height:300px;
  z-index:2;
}

#playerDivId {
  background-color:#11F5F5;
  width:100%;
  height:300px;
  z-index:2;
}



/*--
Card
---*/
.card {
  float:left;
  position:relative;
  top:0px;
  left:0px;
  z-index:5;
  /*background-image: url("/images/backtest.gif");*/
}


.cardface {
  cursor:pointer;
  float:left;

}


.card.ui-draggable-dragging { 
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);

}

/*--
Phases
--*/
#submitPhase1 {

  background-color:white;
}

/*Individual cards slots for phases*/


 
#phaseField {
  width:100%;
  height:300px;
  background-color:white;


}

.phaseFieldDiv {
  float: left;
  width: 150px;
  height: 213px;
  padding-bottom: 0;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 0 10px;
  background: #fff;
  border-style: dashed;
  z-index:3;
}

.phaseMsg {
  font-family: Arial, Times, sans-serif;
  font-size: 14pt;
  float:left;
}









